global average from 1820 onwards.sql
global data 1820 onwards.csv
london average temperature.csv
pull fort worth query.sql
rosario argentina.csv
~$plore weather trends.docx
~WRL1894.tmp
Explore weather trends.docx
